[mysqld]
# default
# skip-host-cache # ホスト名で接続を受ける
# skip-name-resolve # ホスト名で接続を受ける
bind-address = 0.0.0.0 # 本番では変更
datadir = /var/lib/mysql
secure-file-priv = /var/lib/mysql-files
user = mysql

pid-file = /var/run/mysqld/mysqld.pid

# character set / collation
character_set_server = utf8mb4
collation_server = utf8mb4_ja_0900_as_cs_ks

# timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# Error Log
# ディレクトリを指定しない場合はdatadir下になる
# log-error = mysql-error.log

# Slow Query Log
slow_query_log = 1
# slow_query_log_file = mysql-slow.log
long_query_time = 1.0
log_queries_not_using_indexes = 0

# General Log
general_log = 1
# general_log_file = mysql-general.log

# アイドルのコネクションが出てもあまり問題なしとする
max_connections = 1000

[mysql]
port = 3306
default-character-set = utf8mb4

[client]
port = 3306
default-character-set = utf8mb4

#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
# !includedir /etc/mysql/conf.d/
# !includedir /etc/mysql/mysql.conf.d/